sudo: required
dist: xenial

language: bash
script:  
      - sudo apt upgrade -y
      - wget https://otafsg1.h2os.com/patch/amazone2/GLO/OnePlus7ProOxygen/OnePlus7ProOxygen_21.E.09_GLO_009_1905230034/OnePlus7ProOxygen_21.E.09_OTA_009_all_1905230034_14629.zip -O one.zip
      - unzip one.zip
      - sudo rm -r one.zip
      - wget smallfilehost.netlify.com/payload_dumper.zip
      - unzip payload_dumper.zip
      - python3 -m pip install protobuf
      - mv payload.bin payload_dumper
      - cd payload_dumper
      - python3 payload_dumper.py payload.bin
      - cd output
      - mv system.img ../../
      - cd ../../
      - chmod +x *
      - rm -r payload_dumper
      - mkdir output
      - sudo mount -t ext4 -o loop system.img output/
      - mkdir zip
      - cd output
      - sudo mv * ../zip
      - cd ..
      - cd zip
      - ls
      - df -h
      - sudo zip -r ob1.zip *
      - transfer ./ob1.zip
      - echo done


addons:
  apt:
    packages:
    - zip
    - unzip
    - p7zip-full
    - python3
    - python3-pip
    update: true
  snaps:
    - transfer
